<div class="hero bg-light p-5" style="text-align: center;">
  <h1 class="display-4">Bem-vindo ao produtosApp</h1>
  <p class="lead">Esse é um simples Aplicação para visualização e gerenciamento de produtos, desenvolvido com Node.js +
    Express + MySQL</p>
  <hr>
  <h4 class="mt-4">Crie Sua conta, e venha conhecer os melhores produtos, pelos menores preços!</h4>
  {{#if user}}
  <a class="btn btn-primary btn-lg mt-4 ms-5" href="/produtos" role="button">Ver produtos</a>
  {{else}}
  <a class="btn btn-primary btn-lg mt-4" href="/usuario/registro" role="button">Criar conta</a>
  <a class="btn btn-secondary btn-lg mt-4 ms-5" href="/usuario/login" role="button">Fazer login</a>
  {{/if}}
  <hr>
  <h3 class="mt-4">
    Produtos em destaque!
  </h3>
  <hr>
<a href="/produtos">
<div class="card" style="margin: 20px auto; transition: all 0.3s ease;"
     onmouseover="this.style.backgroundColor='#e0e0e0'; this.style.transform='scale(1.05)'; this.style.boxShadow='0 4px 8px rgba(0, 0, 0, 0.2)';"
     onmouseout="this.style.backgroundColor='white'; this.style.transform='scale(1)'; this.style.boxShadow='none';">
  <div class="card-body" style="display: flex; flex-direction:row;">
    <div class="img">
      <img src="https://img.freepik.com/fotos-gratis/midsection-vista-de-um-mao-mulher-por-pedacos-papel-em-liquidificador_23-2147845548.jpg?ga=GA1.1.751360942.1720643129&semt=ais_hybrid" alt="liquidificador" style="max-height: 180px; padding:0%;">
    </div>
    <div class="ms-4" style="display: flex; flex-direction:column; justify-content:left;">
      <p><strong>Produto: Super liquidificador SmoothPro</strong></p>
      <p><strong>Preço: 288,99 R$</strong></p>
      <p><strong>Estoque: 34</strong></p>
    </div>
  </div>
</div>
</a>
<hr>
<a href="/produtos">
<div class="card" style="margin: 20px auto; transition: all 0.3s ease;"
     onmouseover="this.style.backgroundColor='#e0e0e0'; this.style.transform='scale(1.05)'; this.style.boxShadow='0 4px 8px rgba(0, 0, 0, 0.2)';"
     onmouseout="this.style.backgroundColor='white'; this.style.transform='scale(1)'; this.style.boxShadow='none';">
  <div class="card-body" style="display: flex; flex-direction:row;">
    <div class="img">
      <img src="https://img.freepik.com/fotos-gratis/tv-no-conceito-de-natureza_23-2150246085.jpg?ga=GA1.1.751360942.1720643129&semt=ais_hybrid" alt="liquidificador" style="max-height: 180px; padding:0%;">
    </div>
    <div class="ms-4" style="display: flex; flex-direction:column; justify-content:left;">
      <p><strong>Produto: Ultra Tv TrueLife Screen</strong></p>
      <p><strong>Preço: 9999,99 R$</strong></p>
      <p><strong>Estoque: 7</strong></p>
    </div>
  </div>
</div>
</a>
<hr>
<a href="/produtos">
<div class="card" style="margin: 20px auto; transition: all 0.3s ease;"
     onmouseover="this.style.backgroundColor='#e0e0e0'; this.style.transform='scale(1.05)'; this.style.boxShadow='0 4px 8px rgba(0, 0, 0, 0.2)';"
     onmouseout="this.style.backgroundColor='white'; this.style.transform='scale(1)'; this.style.boxShadow='none';">
  <div class="card-body" style="display: flex; flex-direction:row;">
    <div class="img">
      <img src="https://img.freepik.com/fotos-gratis/headset-de-realidade-virtual-de-jogos-futuristas-de-alta-tecnologia_23-2151133167.jpg?ga=GA1.1.751360942.1720643129&semt=ais_hybrid" alt="liquidificador" style="max-height: 180px;  padding:0%;">
    </div>
    <div class="ms-4" style="display: flex; flex-direction:column; justify-content:left;">
      <p><strong>Produto: Super Oculos Vr Immersia Pro</strong></p>
      <p><strong>Preço: 2999,99</strong></p>
      <p><strong>Estoque: 12</strong></p>
    </div>
  </div>
</div>
</a>
<hr>
</div>