<div class="container mt-5">
    <h1 class="text-center">Login</h1>
    <div class="card">
        <form action="" method="post">
            <label for="email">Email:</label>
            <input type="email" class="form-control mt-2" name="email" placeholder="Digite seu email para logar" required>

            <label for="senha" class="mt-3">Senha:</label>
            <input type="password" class="form-control mt-2" name="password" placeholder="********" required>

            <button type="submit" class="btn btn-success mt-4">Iniciar sessão</button>
        </form>
    </div>
</div>